---
layout: page
title: Archiv
---

<h2 class="sub-title">Mehr als 20 Jahre Eintracht Tagebuch</h2>{% assign todays_year = "now" | date: "%Y" %}
{% for i in (1999..todays_year) %}
  <a href="#{{ i }}" class="year-box">{{ i }}</a>
{% endfor %}


{% assign postsByYear =
    site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
  <a name="{{ year.name }}"><h1 >{{ year.name }}</h1></a>
    <ul class="posts-by-year">
      {% for post in year.items %}
      <li><a href="{{ post.url }}"><span>{{ post.date | date: '%d.%m.%y'}}</span>{{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}